.buttons-container-board {
    display: flex;
    gap: 20px;
}

.button {
    background-size: 100% 100%;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 4vw;
    border-radius: 0%;
    aspect-ratio: 1 / 1;
}

.goToMainMenu {
    background-image: url('../Icons/home_icon.png');
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
}

.resetButton {
    background-image: url('../Icons/restart_icon.png');
}

.undoButton {
    background-image: url('../Icons/Undo.png');
}

.new-game-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-gameButton {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: rgb(33, 33, 33);
    height: 100%;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.new-gameButton:hover {
    background-color: rgb(70, 70, 70);
}

.buttons-container-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(3, 1fr); 
    position: absolute;
    top: 1%;
    right: 1%;
    width: 15%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;

}

.timerButton {
    grid-row: 2;
    grid-column: 4;
    background-image: url('../Icons/timer_icon.png');
    justify-self: center;
    align-self: center;
}

.switch {
    grid-row: 3;
    grid-column: 4;
    width: auto;
    justify-self: center;
    align-self: center;
}

.rulesButton {
    justify-self: center;
    align-self: center;
    grid-column: 4;
    background-size: cover;
    width: 4vw;
    height: 4vw;
}

.rulesButton {
    grid-row: 1;
    background-image: url('../Icons/napoveda.png');
}

.rules-hover {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    transition: transform 2s ease;
    background-color: rgba(255, 255, 255, 0.83);
    text-align: left;
    color: black;
    border-radius: 5%;
    border: 2px solid #000000;
}

.rulesButton:hover .rules-hover {
    visibility: visible;
    transform: translate(-50%, -50%);
}

.rules-hover h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem;
}
