/*********************************************************
 * Autor: Martin Bureš <xbures38>
*  Project: Games Hub
 * Game: 4 in a Row
 *********************************************************/

/* Kontejner pro herní informace (rezervuje místo) */
.game-info-container4 {
    display: flex;
    width: 100%;
    height: 5vh; /* Rezervovaná výška */
    justify-content: left;
    align-items: flex-start;
    gap: 1rem; /* Přidá mezeru mezi deskou a textem */
}

/* Textová informace o aktuálním hráči */
.game-info4 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    transform-origin: left;
}

/* Zvýraznění aktuálního hráče podle barvy tahu */
.player-colour.red-turn {
    color: red;
}

.player-colour.yellow-turn {
    color: yellow;
}