/* Global styles */
.site {
    background-color: rgb(93, 86, 153);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
