.container {
    background-color: #09f;
}

.container > .grid {
    position: absolute;
    pointer-events: none;
}

.hexagon {
    pointer-events: auto;
}

.hexagon:hover {
    fill: #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > * {
    position: absolute;
}
