.container > .grid {
    position: absolute;
    pointer-events: none;
}

.hexagon {
    fill: #ccc;
    stroke: #333;
    stroke-width: 0.2;
    pointer-events: auto;
}

.hexagon:hover {
    fill: #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > * {
    position: absolute;
}
