.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
}

.chess-square {
  width: 87.5px;
  height: 87.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 0.1s ease-in-out;
}

.chess-light {
  background-color: #FFFFFF;
}

.chess-dark {
  background-color: #808080;
}

.chess-selected {
  background-color: #8FB9D5;
}

.chess-highlighted {
  position: relative;
}

.chess-highlighted::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #8FB9D5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.chess-with-piece {
  background-color: #e39090;
}

.chess-piece {
  width: 80px;
  height: 80px;
  user-select: none;
  object-fit: contain;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.promotion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.promotion-modal h2 {
  margin-bottom: 10px;
}

.promotion-options {
  display: flex;
  justify-content: space-around;
}

.promotion-options button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.promotion-options img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.promotion-options img:hover {
  transform: scale(1.1);
}