.classic-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);     
    width: auto;
    height: auto;
    gap: 5px;                               
}
