/*author: Martin Vrablec (xvrabl06)*/
.tic-tac-toe-main-board {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
