/*author: Martin Vrablec (xvrabl06)*/
.sub-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* width: 300px;
  height: 300px; */
  margin: 5px;
  position: relative;
  border: 3px solid transparent;
  justify-content: center;
  transform: scale(0.95);
  color: gray;
}

.sub-board.active {
  box-sizing: border-box;
  border: 5px solid rgb(0, 255, 0);
  border-radius: 12px;
  transform: scale(1.05);
  color: black;
}

.sub-board.won {
  background-color: black;
  border: 0px solid #ff0000;
  border-radius: 12px;
}

.sub-board.highlight {
  box-sizing: border-box;
  border: blue solid 5px;
  border-radius: 12px;
}

.sub-board-winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}