/* FourInARowView.css */
.site {
    background-color: rgb(187, 58, 58);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Board {
    width: fit-content;
    min-width: 35%;
    height: fit-content;
    aspect-ratio: 1 / 1;    /* ctverec kolem desky */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 3px solid black; /* Ohraničení kolem herního pole */
    margin-bottom: 20px; /* Mezera mezi herním polem a tlačítky */


}
.board-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.board-cell {
    width: 4vw;
    aspect-ratio: 1 / 1;  /* kruh */
    background-color: #e0e0e0;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.4s;
}

.board-cell:hover {
    background-color: #ccc;
}

.board-cell.red .piece {
    background-color: red;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.board-cell.yellow .piece {
    background-color: yellow;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


.gameInfo {
    margin-top: 20px;
    font-size: 1.2rem;
}
.buttons-container {
    display: flex;
    gap: 2vw; /* Mezera mezi tlačítky */
    margin-bottom: 20px; /* Mezera pod tlačítky */
}

.button {
    border-radius: 0%; /* Odstraní zaoblení, tlačítka budou čtvercová */
    background-color: transparent; /* Bez pozadí */
    background-position: center; /* Umístí obrázek na střed tlačítka */
    background-size: cover; /* Zajistí, že obrázek vyplní celé tlačítko */
    border: none; /* Odstraní rámeček kolem tlačítka */
    cursor: pointer; /* Změní kurzor na ruku */
    width: 4vw; /* Nastaví šířku tlačítka */
    aspect-ratio: 1 / 1; /* Zajišťuje, že tlačítko bude čtvercové */
}

.settings {
    background-image: url('./Icons/settings_icon.png');
    padding: 10px;
    cursor: pointer;

}
/* home button */
.goToMainMenu {
    background-image: url('./Icons/home_icon.png');
    background-size: 95%;

    position: absolute;
    top: 20px;
    left: 20px;

}
.resetButton{
    background-image: url('./Icons/restart_icon.png');
    width: 4vw;
    aspect-ratio: 1 / 1;

}

.undoButton{
    background-image: url('./Icons/Undo.png');
    width: 4vw;
    aspect-ratio: 1 / 1;
}

.timerButton{
    background-image: url('./Icons/timer_icon.png');
    width: 4vw;
    aspect-ratio: 1 / 1;
}




