/* FourInARowView.css */
.site {
    background-color: rgb(93, 86, 153);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

    .Board {
        width: clamp(40vw, 50vh, 60vw);  /*(min, preferred, max) */
        height: fit-content;
        aspect-ratio: 1 / 1;    /* ctverec kolem desky */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: grey;
        border: 0.5vw solid black; /* Ohraničení kolem herního pole */
    }
        .board-row {
            display: flex;
            width: 100%;
            justify-content: center;
        }

            .board-cell {
                width: 14.28%; /* 1/7 šířky desky */
                aspect-ratio: 1 / 1;  /* kruh */
                margin: 0.5%; /* Mezera mezi buňkami */
                background-color: #e0e0e0;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.4s;
            }

                .board-cell:hover {
                    background-color: #ccc;
                }

                .board-cell.red .piece {
                    background-color: red;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }

                .board-cell.yellow .piece {
                    background-color: yellow;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }

    .buttons-container-board {
        display: flex;
        gap: 2vw; /* Mezera mezi tlačítky */
        margin-bottom: 1vh;
    }

    .buttons-container-top {
        display: flex;
        position: absolute;
        top: 0.5vh;
        right: 0.5vw;
        gap: 0.5vw; /* Mezera mezi tlačítky */
        margin-bottom: 30px; /* Mezera pod tlačítky */
    }

    /* home button */
    .goToMainMenu {
        background-image: url('./Icons/home_icon.png');
        position: absolute;
        top: 0.5vh;
        left: 0.5vw;
    }

    .button {
        background-size: 100% 100%;
        border-radius: 0%; /* čtvercová tlačítka */
        background-color: transparent; /* bez pozadí */
        background-position: center; /*obrázek na střed */
        border: none;
        cursor: pointer; /* změní kurzor na ruku */
        width: 4vw; /* Nastaví šířku tlačítka */
        aspect-ratio: 1 / 1; /* stejná výška a šířka */
    }

    .settings {
        background-image: url('./Icons/settings_icon.png');
        padding: 10px;
    }

    .resetButton{
        background-image: url('./Icons/restart_icon.png');
        
    }
    
    .undoButton{
        background-image: url('./Icons/Undo.png');
    }

    .timerButton{
        background-image: url('./Icons/timer_icon.png');

    }

    .gameInfo {
        font-size: 2vw;
        text-align: left;
        margin-left: 1vw
    }
    .gameInfo.red-turn p:first-child {
        color: red;
    }
    
    .gameInfo.yellow-turn p:first-child {
        color: yellow;
    }
    
    
    
    



